#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        e_boot: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp E>, <&sys_reset>, <&bootloader>;
        };
        r_boot: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp R>, <&sys_reset>, <&bootloader>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------------------
            // |     L     |     E     |     R     |     I     |
            // |     F     |     T     |     G     |     H     |
            bindings = <
                &kp L    &e_boot   &r_boot  &kp I
                &kp F    &kp T     &kp G    &kp H
            >;
        };
    };
 };
