# No whitespace after the comma or in your part name!
config SHIELD_FOUR_BUTTONS_LEFT
    def_bool $(shields_list_contains,four_buttons_left)

# No whitespace after the comma or in your part name!
config SHIELD_FOUR_BUTTONS_RIGHT
    def_bool $(shields_list_contains,four_buttons_right)